/* Calen Barbour  9-19-2026 */



/* Required fields have a yellow border. */
.required {
    border: 2px solid yellow;
}

/* Invalid email fields have a red border. */
.invalid-email {
    border: 2px solid red;
}

/* Message showing the number of missing fields. */
#missing-count {
    color: red;
    font-weight: bold;
}
