/* Calen Barbour  9-19-2026 */


input:valid, select:valid {
	
	border: 1px solid rgb(0, 0, 0);
 
	

}
input:invalid, textarea:invalid {
	border: 2px solid rgb(196, 196, 55);
	border-radius: 5px;
}

input:focus:invalid, textarea:focus:invalid {
	border:none;
}